<h4><%= link_to "Back To Homepage", items_path %></h4>

<h2>Category: <%=@category.name%></h2>

<h3>Items: </h3>
<ul>
<%@category.items.each do |item|%>
    <h3><li><%=item.name%></li></h3>
<%end%>
</ul>